.section__headline {
    margin-top: 0px;
    padding-top: 30px;
    font: 400 48px "BoeiManali", sans-serif;
    color: #4DBAB4;
    text-align: center;
}
.section__headline:before,.section__headline:after {
    content: "";
    background: url(../../assets/icons/icon-cross.png);
    display: inline-block;
    height: 18px;
    width: 18px;
    margin: 0 10px 0 10px;
    position: relative;
    vertical-align: middle;
}

.testimonial__heading {
    font: 400 33px "Heebo", sans-serif;
    color: #EB5884;
    margin-top: 0;
    line-height: 30px;
}
.testimonial__text {
    border-bottom: 2px solid #3a3a3a;
    padding-bottom: 15px;
    font-size: 20px;
}

.page__title{
    color: #FFF;
    font-size:36px;
}